.node rect {
stroke: black;
stroke-width: 0;
}

.node.selected rect {
stroke-width: 2.5;
stroke: red;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  fill-opacity: .3;
  stroke: #33CCFF;
  stroke-width: 2.5;
  stroke-opacity: .6;
  cursor: pointer; /* new */
}

.link:hover {
  fill-opacity: .6;
  stroke-width: 5; /* new*/
}

.fglink {
  fill: #33CCFF;
  fill-opacity: .3;
  stroke: #33CCFF;
  stroke-opacity: .6;
}

.fglink:hover {
  fill-opacity: .6;
}

.rect {
    overflow: hidden;
}

.bgsvg {
position: absolute;
left : 0;
top : 0;
}
.selectBox {
fill: black;
opacity: 0.2;
}
.link.highlight {
  stroke-width: 10;
  stroke: black;
}

/* new */
.link.highlightNodeLink {
  stroke-width: 10;
  stroke: red;
}
